/*background pattern*/
@media only screen {
  body {
    background-image: url(../img/cream_pixels.png);
    background-repeat: repeat;
  }
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

#wrapper > .container {
  padding-bottom: 40px;
}

@media (min-width: 979px) {
  #wrapper > .container {
    padding-top: 60px;
  }  
}

#footer {
  height: 60px;
  margin-top: -60px;
}

#footer > a {
  color: #999999;
}

body {
  font-family: "NanumGothic", sans-serif;
}

/*prevents garbled korean*/
h1, h2, h3, h4, h5, h6 {
	text-rendering: auto;
}

strong {
  font-family: "NanumGothicBold", sans-serif;
}

.form-small .control-label {
    width: 100px;
}

.form-small .controls {
    margin-left: 120px;
}

.form-medium .control-label {
    width: 180px;
}

.form-medium .controls {
    margin-left: 200px;
}

.form-xlarge .control-label {
    width: 240px;
}

.form-xlarge .controls {
    margin-left: 260px;
}

.navbar-form .input-append,
.navbar-form .input-prepend {
  margin-bottom: 0px;
}

input.appended-input {
  width:52%
}

.thumbnail {
  background: white;
}

a.darklink {
  color: #696969;
  text-decoration: none;
}

a.darklink:hover {
  color: #333333;
}

span.large {
  display: inline;
  font-size: 21px;
  line-height: 44px;
}

/* base.html */

/*navbar*/
#top-navbar-inner {
  background: #2c3e50;  
}

.navbar .nav>li>a {
  color: white;
  text-shadow: none;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover, 
.navbar .nav>.active>a:focus {
  color: #e06342;
  background-color:transparent;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

.navbar .nav>li>a:hover {
  color: #b73e1e;
}

.navbar .brand {
  color: white;
  text-shadow: none;
}

.navbar .btn-navbar .icon-bar {
  background-color: white;
}

.navbar-inverse .btn-navbar {
  background-color: black;
  background-image: -moz-linear-gradient(top,#111E2B,#070F17);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#111E2B),to(#070F17));
  background-image: -webkit-linear-gradient(top,#111E2B,#070F17);
  background-image: -o-linear-gradient(top,#111E2B,#070F17);
  background-image: linear-gradient(to bottom,#111E2B,#070F17);
  background-repeat: repeat-x;
}

@media (max-width: 979px) {
  .navbar .nav-collapse .nav>li>a, 
  .navbar .nav-collapse .dropdown-menu a {
    color: white;
    font-weight: normal;
  }

  .navbar .nav-collapse .nav>.active>a,
  .navbar .nav-collapse .nav>.active>a:hover, 
  .navbar .nav-collapse .nav>.active>a:focus {
    color: #e06342;
  }

  .navbar .nav-collapse .nav>li>a:hover, 
  .navbar .nav-collapse .nav>li>a:focus, 
  .navbar .nav-collapse .dropdown-menu a:hover, 
  .navbar .nav-collapse .dropdown-menu a:focus {
    background-color: inherit;
    color: #b73e1e;
  }
}

/*navbar end*/

a#feedback-link {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: block;
  overflow: hidden;
}

/* meet.html */

a.no-deco:hover {
	text-decoration: none;
}

span.h3 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  font-size: 24.5px;
}

.no-margin {
  margin : 0px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

input.no-margin-bottom {
  margin-bottom: 0px;
}

#selected-users .thumbnail {
  border-color: #3a87ad;
}

#show-profile-body .thumbnail {
  border-color: #3a87ad;
}

#user-pool .thumbnail {
  border-color: #cccccc;
}

#show-profile-body .label-first, #selected-users .label-first {
  background-color: #3a87ad;
}

#show-profile-body .label-second, #selected-users .label-second {
  background-color: #c67605;
}

#show-profile-body .label-third, #selected-users .label-third {
  background-color: #356635;
}

.unknown-card i {
  font-size:3.4em
}

hr.thick {
  height: 3px;  
  background-color: #cccccc;
  border: none;
}

.bottom-margin10 {
  margin-bottom: 10px;
}

div.center-content {
  text-align: center; 
  margin-top: 15px;
  margin-bottom: 5px;
}

.center600 {
  max-width: 600px;
  margin: 0 auto;
}

span.data {
  white-space: pre;
  word-wrap: break-word;
}

.alert a.pull-right {
  padding: 0px; 
  line-height:20px; 
  margin-right:-25px; 
}

/*talk*/
.talk {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 4px;
  background-color: white;

}

#write-talk {
  border-radius: 5px;
  padding: 4px;
  padding-bottom: 0px;
}

#write-talk-controls {
  margin-bottom: 5px;
}

.talk-content-container {
  margin: 4px;
}

#no-more-talks {
  padding: 4px;
}