/*background pattern*/
@media only screen {
  body {
    background-image: url(../img/cork.png);
    background-repeat: repeat;
  }
}

body {
  font-family: "NanumGothic", sans-serif;
}

/*prevents garbled korean*/
h1, h2, h3, h4, h5, h6 {
	text-rendering: auto;
}

strong {
  font-family: "NanumGothicBold", sans-serif;
}

.form-small .control-label {
    width: 100px;
}

.form-small .controls {
    margin-left: 120px;
}

.form-medium .control-label {
    width: 180px;
}

.form-medium .controls {
    margin-left: 200px;
}

.form-xlarge .control-label {
    width: 240px;
}

.form-xlarge .controls {
    margin-left: 260px;
}

.navbar-form .input-append,
.navbar-form .input-prepend {
  margin-bottom: 0px;
}

/* meet.html */

a.no-deco:hover {
	text-decoration: none;
}

span.h3 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  font-size: 24.5px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

input.no-margin-bottom {
  margin-bottom: 0px;
}

#selected-users .thumbnail {
  border-color: #3a87ad;
}

#show-profile-body .thumbnail {
  border-color: #3a87ad;
}

#user-pool .thumbnail {
  border-color: #cccccc;
}

#show-profile-body .label-first, #selected-users .label-first {
  background-color: #3a87ad;
}

#show-profile-body .label-second, #selected-users .label-second {
  background-color: #c67605;
}

#show-profile-body .label-third, #selected-users .label-third {
  background-color: #356635;
}

.unknown-card i {
  font-size:3.4em
}

hr.thick {
  height: 3px;  
  background-color: #cccccc;
  border: none;
}

#remaining-choices {
  height: 70px;
  line-height: 70px;
}

#show-summary {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.center-content {
  text-align: center; 
  margin-top: 15px;
  margin-bottom: 5px;
}

.center100 {
  max-width: 100px;
  margin: 0 auto;
}

.center300 {
  max-width: 300px;
  margin: 0 auto;
}

.center600 {
  max-width: 600px;
  margin: 0 auto;
}

span.data {
  white-space: pre;
  word-wrap: break-word;
}

.alert a.pull-right {
  padding: 0px; 
  line-height:20px; 
  margin-right:-25px; 
}

/*talk*/
.talk {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 4px;
}

#write-talk {
  border-radius: 5px;
  padding: 4px;
  padding-bottom: 0px
}

#write-talk-controls {
  margin-bottom: 5px;
}
