<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>basic</title>

</head>
<body>

  <h1>basic</h1>

  <div id="basic" class="container">
    <div class="item"><p>Some words to get by hehjhljy hey hey ho hey</p></div>
    <div class="item h4">Some words to get by hey hey hey ho hey</div>
    <div class="item w2 h2">Some words to get by hey hey hey ho hey</div>
    <div class="item w2">Some words to ge hey ho hey</div>
    <div class="item h3">Some words to get by hey hey hey ho hey</div>
    <div class="item w3">Some words to get by hey hey hey ho hey</div>
    <div class="item">Some words to get by hey hey hey ho hey</div>
    <div class="item h4">Some words to gy hey ho hey</div>
    <div class="item">Some words to get by hey hey hey ho hey</div>
    <div class="item w2 h4">Some words to get by hey hey hey ho hey</div>
    <div class="item w2">Some words  hey</div>
    <div class="item h5">Some words to get by hey hey hey ho hey</div>
    <div class="item w3">Some words to get by hey hey hey ho hey</div>
    <div class="item">Some words toey ho hey</div>
    <div class="item h4">Some words to get by hey hey hey ho hey</div>
    <div class="item">Some words to get by hey hey hey ho hey</div>
    <div class="item w2 h5">Some words to get by hey hey hey ho hey</div>
    <div class="item w2">Some words to get by hey hey hey ho hey</div>
    <div class="item h3">Some words to get by hey hey hey ho hey</div>
    <div class="item w3">Some words to get by hey hey hey ho hey</div>
    <div class="item">Some words to get by hey hey hey ho hey</div>
  </div>

<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/masonry.min.js"></script>

<script>
  $('.container').masonry({
    itemSelector: '.item'
  });
</script>

</body>
</html>