{% extends "base.html" %}

{% block title %}
    로그인
{% endblock %}

{% block content %}
{% if login_error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  아이디 또는 비밀번호를 다시 확인해 주세요.
</div>
{% endif %}
<form class="form-horizontal" method="post" action="/login">
  <legend>로그인</legend>
  <div class="control-group">
    <div class="input-append">
      <input class="appended-input" type="text" name="username" placeholder="이메일">
      <span class="add-on">@snu.ac.kr</span>
    </div>
  </div>
  <div class="control-group">
      <input type="password" name="password" placeholder="비밀번호">
  </div>
  <input type="hidden" name="returnurl" value="{{ returnurl }}">
  <div class="control-group">
      <button type="submit" class="btn btn-info">로그인</button>
  </div>
</form>
<hr>
<div class="control-group">
  <a class="btn btn-success" href="signup">가입하기</a>
</div>
<!-- <div class="control-group">
  <a href="">비밀번호를 잊으셨나요?</a>
</div> -->
{% endblock %}
{% block footer %}
  <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>
  <span class="hidden-phone">·</span>
  <br class="visible-phone">
  <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
  <br class="visible-phone">
  <span class="hidden-phone">·</span>
  <a href="http://subtlepatterns.com"> Subtle Patterns</a>
  
{% endblock %}