{% extends "meet.html" %}

{% block title %}
    만나요
{% endblock %}

{% block meet_content %}
<ul class="thumbnails" id="selected-users">
	{% for selected_user in selected_users %}
<li class="span4 user-card">
    <div class="thumbnail">
      <div class="row-fluid">
          <strong>{{ selected_user.nickname }}</strong>
          <input class="profile-uuid" 
                 type="hidden" value="{{ selected_user.profile_uuid }}" />
          <a class="no-deco">
            <i class="icon-star icon-2x pull-right"></i></a>
          </a>
      </div>
      <div class="row-fluid">
        <span class="label label-default label-first">{{ selected_user.tags[0] }}</span>
        <span class="label label-default label-second">{{ selected_user.tags[1] }}</span>
        <span class="label label-default label-third">{{ selected_user.tags[2] }}</span>   
      </div>
      <div class="row-fluid">
        <hr>        
      </div>
      {% for line in selected_user.profile_lines %}
        <div class="row-fluid">
          <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
          {{ line }}
        </div>
      {% endfor %}      
      <div class="row-fluid center-content">
        <a class="btn btn-large btn-info show-profile" href="#">선택</a>  
      </div>
    </div>
  </li>
	{% endfor %}
</ul>

{% endblock %}
{% block scripts %}
  <script src="static/js/meet.js"></script> 
{% endblock %}