{% extends "meet.html" %}

{% block title %}
    만나요
{% endblock %}

{% block meet_content %}
<div id="meet-body" class="row-fluid">
<div id="no-remaining-choices-alert" class="alert alert-info hide">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>3명</strong>까지 선택할 수 있습니다.
</div>
<div id="remaining-choices" class="row-fluid">
  <div class="span12">
    <span class="h3">남은 선택 : <span class="number">3</span> </span>
    <button id="show-summary" 
            class="btn btn-large btn-success pull-right" href="#">선택 완료</button>
  </div>
</div>
<ul class="thumbnails no-margin-bottom" id="selected-users">
	{% for i in range(3) %}
	<li class="span4 unknown-card">
    <div class="thumbnail">
    	<div class="row-fluid text-center">
  			<a class="no-deco" href="#" 
           rel="clickover"
           data-content="마음에 드는 사람 옆의 별을 눌러주세요!">
					<i class="icon-github-alt"></i>
				</a>
    	</div>
    </div>
  </li>
	{% endfor %}
</ul>
<hr class="thick" style="margin-top:0px;">

{% if not other_users %}
<div class="alert alert-info">
  {{ user.nickname }}님이 설정한 조건에 해당하는 모든 사용자가 매칭 상태입니다. :(
</div>
{% endif %}
<div class="row-fluid" id="user-pool">
{% for other_user in other_users %}
  {% if loop.index0 % 3 == 0 %}
    <ul class="thumbnails no-margin-bottom">
  {% endif %}
    <li class="span4 user-card">
      <div class="thumbnail">
      	<div class="row-fluid">
  	    		<strong>{{ other_user.nickname }}</strong>
            <input class="profile-uuid" 
                   type="hidden" value="{{ other_user.profile_uuid }}" />
      			<a class="select no-deco" href="#">
  						<i class="icon-star-empty icon-2x pull-right"></i></a>
      			</a>
      	</div>
      	<div class="row-fluid">
  		    <span class="label label-default label-first">{{ other_user.tags[0] or ' ' }}</span>
  		    <span class="label label-default label-second">{{ other_user.tags[1] or ' ' }}</span>
  		    <span class="label label-default label-third">{{ other_user.tags[2] or ' ' }}</span>		
      	</div>
      </div>
    </li>
  {% if loop.index0 % 3 == 2 %}
    </ul>
  {% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
{% block scripts %}
  <script src="static/js/meet.js"></script> 
{% endblock %}