{% extends "meet.html" %}

{% block title %}
    만나요
{% endblock %}

{% block meet_content %}
<div id="show-profile-body" class="center600">
  <div class="thumbnail">
    <div class="row-fluid">
        <strong>{{ other_user.nickname }}</strong>
        <input class="profile-uuid" 
               type="hidden" value="{{ other_user.profile_uuid }}" />
        <a class="no-deco">
          {% if proposed %}
            <i class="icon-heart icon-2x pull-right"></i>
          {% else %}
            <i class="icon-star icon-2x pull-right"></i>
          {% endif %}
        </a>
    </div>
    <div class="row-fluid">
        <span class="label label-first">{{ other_user.tags[0] }}</span>
        <span class="label label-second">{{ other_user.tags[1] }}</span>
        <span class="label label-third">{{ other_user.tags[2] }}</span>
        <span class="label pull-right">{{ other_user.nickname }} : 확인 전</span>
    </div>
    <div class="row-fluid">
      <hr>        
    </div>
    <div class="row-fluid">
      <span class="data">{{ other_user.profile }}</span>
    </div>
    <div class="row-fluid center-content">
      {% if not proposed %}
        <a id="propose" class="btn btn-large btn-info" 
         href="javascript:;">선택<i class="icon-heart"></i></a> 
      {% endif %}      
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="static/js/meet.js"></script> 
{% endblock %}