{% extends "base.html" %}

{% set active_page= "/talk" %}

{% block title %}
    얘기해요
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="static/css/talk.css">
{% endblock %}

{% block headscripts %}
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
{% endblock %}

{% block content %}
<input id="firebase_token" type="hidden" value="{{ firebase_token }}">
<input id="nickname" type="hidden" value="{{ user.nickname or '' }}">
<input id="username" type="hidden" value="{{ user.username or '' }}">

<div class="row">
	<div id="write-talk" class="span6 offset3">
		<div id="write-talk-controls" class="row-fluid">
			<input id="write-talk-name" class="input-small" type="text"
						 placeholder="{{ user.nickname or '' }}"
						 value="{{ user.nickname or '' }}">
			<button id="write-talk-post" 
							class="btn pull-right input-small">
							<i class="icon-pencil"></i>
			</button>	
		</div>
		<textarea id="write-talk-content" 
							class="span6 no-margin-bottom" rows="3" 
							placeholder="무슨 생각 중이세요?"></textarea>							
		<hr class="thick">
	</div>
</div>
<div id="talks" class="row">
	
	<div id="talkEnd"></div>
</div>
<div id="spinner" class="text-center hide">
	<i class="icon-spinner icon-spin icon-3x"></i>			
</div>
<div class="text-center">
	<a id="load-more-talks" class="darklink hide" href="javascript:;" title="More!">
		<i class="icon-circle-arrow-down icon-3x"></i>
	</a>
</div>
<div class="row">
	<div id="no-more-talks" class="well span6 offset3 hide">
	  여기까지가 끝인가보오.
	</div>
</div>

<div id="talk-template" class="talk span6 offset3 hide">
	<div class="row-fluid">
		<strong class="talk-name">name</strong>
		<i class="talk-alias icon-github-alt muted hide"></i>
		<a class="talk-time pull-right no-deco muted" title="">time</a>
	</div>
	<div class="row-fluid talk-content-container">
		<span class="talk-content data">content</span>
	</div>
	<div class="row-fluid bottom-margin5">
		<small class="muted">
			<a href="javascript:;" 
				 class="show-comment darklink muted">
				<i class="icon-comment"></i> <span class="show-comment-text">댓글 달기</span></a>
		</small>
	</div>
	
	<div class="comments hide">
		
    <table class="write-comment-area">
    	<tbody>
    		<tr>
      		<td class="write-comment-content-column">
      			<textarea class="write-comment-content" rows="1"
	                		name="content"></textarea>
      		</td>
      		<td class="write-comment-post-column">
      			<button class="btn write-comment-post">
      				<i class="icon-reply"></i>
    				</button>
      		</td>
      	</tr>
    	</tbody>
  	</table>    
	</div>	
</div>

<div id="comment-template" class="comment hide">
    <strong class="comment-name">닉네임</strong>
    <i class="comment-alias icon-github-alt muted hide"></i>
    <span class="comment-content data">안녕하세요</span>
      <a class="comment-time no-deco muted pull-right" 
         title="">1분 전</a>
</div>
{% endblock %}

{% block scripts %}
	<script src='static/js/talk.js'></script>
{% endblock %}
    